body {
  font-family: sans-serif;
  margin: 0 auto;
  color: #363636;
}

.container {
  margin: 0 auto;
  text-decoration: none;
}

.container a {
  text-decoration: none;
  color: black;
}

.container a:visited,
.container a:active {
  color: black;
}

h1 {
  text-align: center;
  font-family: "verdana", sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 5px;
}

@media (max-width: 490px) {
  h1 {
    font-size: 20px;
  }
}

.enquiry {
  max-width: 500px;
  height: 450px;
  margin: auto;
  margin-bottom: 50px;
  background-color: #efefef;
  font-family: "verdana", sans-serif;
  font-weight: bold;
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  padding: 30px 10px 10px 10px;
}

@media (max-width: 430px) {
  .enquiry {
    border-radius: 0px;
    height: 600px;
  }
}

.enquiry div {
  padding-bottom: 15px;
}

.enquiry label {
  width: 200px;
  display: inline-block;
  text-align: left;
}

@media (max-width: 430px) {
  .enquiry label {
    padding-bottom: 5px;
  }
}

.enquiry input {
  border: none;
  padding: 5px;
  width: 200px;
}

.enquiry .message {
  height: 70px;
}

.enquiry button {
  color: white;
  background-color: #a81600;
  border: none;
  border-radius: 50px;
  padding: 7px 20px;
  font-family: "verdana", sans-serif;
  font-weight: bold;
  margin-top: 30px;
}

.enquiry button:hover {
  background-color: #363636;
}

.enquiryhr {
  max-width: 480px;
  margin-top: 0px;
  margin-bottom: 20px;
  border: 1px solid #363636;
}

.contactform {
  max-width: 500px;
  height: 320px;
  margin: auto;
  margin-bottom: 50px;
  background-color: #efefef;
  font-family: "verdana", sans-serif;
  font-weight: bold;
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  padding: 30px 10px 10px 10px;
}

@media (max-width: 520px) {
  .contactform {
    border-radius: 0px;
    height: 500px;
  }
}

.contactform div {
  padding-bottom: 15px;
}

.contactform label {
  width: 200px;
  display: inline-block;
  text-align: left;
}

@media (max-width: 480px) {
  .contactform label {
    padding-bottom: 10px;
    width: 250px;
  }
}

.contactform input {
  border: none;
  padding: 5px;
  width: 250px;
}

.contactform .message {
  height: 100px;
}

.contactform button {
  color: white;
  background-color: #a81600;
  border: none;
  border-radius: 50px;
  padding: 7px 20px;
  font-family: "verdana", sans-serif;
  font-weight: bold;
  margin-top: 30px;
}

.contactform button:hover {
  background-color: #363636;
}

nav {
  background: #363636;
  padding: 1rem;
  border-bottom: 8px solid #a81600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav a {
  color: white;
  font-family: "verdana", sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 25px 10px 20px 30px;
  padding: 5px;
  text-decoration: none;
}

nav a:hover {
  background-color: #a81600;
}

.logo {
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 60px;
  text-align: left;
}

.footer {
  background-color: #efefef;
  margin: auto;
  font-family: "Helvetica", sans-serif;
  font-weight: 300;
  padding-bottom: 30px;
}

.footer h4 {
  font-family: "verdana", sans-serif;
  text-transform: uppercase;
  margin-bottom: 3px;
}

.footer .copyright {
  text-align: center;
  padding-top: 30px;
}

.footer hr {
  border: 1 solid #363636;
  width: 175px;
  margin-top: 0px;
}

.footer .footercontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
  margin: auto;
  max-width: 600px;
}

.footer .footercontainer .footercenter,
.footer .footercontainer .footerright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.footer .footercontainer .footerleft p {
  margin: 0px;
}

@media (max-width: 900px) {
  .footer .footercontainer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 200px;
    gap: 0px;
  }
}

.contactinfo {
  margin: auto;
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 90px;
  padding-top: 30px;
}

@media (max-width: 520px) {
  .contactinfo {
    padding: 0px 0px 20px 30px;
  }
}

.contactinfo p {
  margin: 0px;
}

.contactinfo .email {
  padding-top: 20px;
}

.contactinfo .adress {
  padding-top: 30px;
}

.map {
  max-width: 250px;
}

@media (max-width: 520px) {
  .map {
    display: none;
  }
}

.login {
  max-width: 400px;
  height: 200px;
  margin: auto;
  margin-bottom: 250px;
  background-color: #363636;
  color: white;
  font-family: "verdana", sans-serif;
  font-weight: bold;
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  padding: 30px 10px 10px 10px;
}

@media (max-width: 350px) {
  .login {
    border-radius: 0px;
  }
}

.login div {
  padding-bottom: 15px;
}

.login div input {
  text-align: right;
}

.login label {
  width: 120px;
  display: inline-block;
  text-align: left;
}

@media (max-width: 350px) {
  .login label {
    width: 200px;
    padding-bottom: 5px;
  }
}

.login input {
  border: none;
  padding: 5px;
  width: 200px;
}

.login button {
  color: #a81600;
  background-color: white;
  border: none;
  border-radius: 50px;
  padding: 7px 50px;
  font-family: "verdana", sans-serif;
  font-weight: bold;
  margin-top: 30px;
}

.login button:hover {
  color: white;
  background-color: #a81600;
}

.containerdetailhotel {
  max-width: 700px;
  margin: 40px auto;
  background-color: #efefef;
  padding: 20px 40px;
  border-radius: 40px 40px 0px 0px;
}

@media (max-width: 690px) {
  .containerdetailhotel {
    border-radius: 0px;
    padding: 0px;
  }
}

.containerdetailhotel h1 {
  text-align: left;
  text-transform: none;
}

@media (max-width: 690px) {
  .containerdetailhotel h1 {
    padding: 20px 0px 0px 20px;
  }
}

.containerdetailhotel .buttonenquiry {
  background-color: #a81600;
  color: white;
  font-family: "verdana", sans-serif;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.containerdetailhotel .buttonenquiry:active {
  color: white;
}

.containerdetailhotel .buttonenquiry:visited {
  color: white;
}

.containerdetailhotel .buttonenquiry:hover {
  background-color: #363636;
}

.containerdetailhotel .hotelimage {
  margin-top: 30px;
}

.containerdetailhotel .containerinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 120px;
}

@media (max-width: 850px) {
  .containerdetailhotel .containerinfo {
    gap: 50px;
  }
}

@media (max-width: 690px) {
  .containerdetailhotel .containerinfo {
    gap: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 20px;
  }
}

.containerdetailhotel .containerinfo .discription {
  max-width: 400px;
}

.containerdetailhotel .containerinfo .address {
  margin-top: 0px;
}

.containerdetailhotel .containerprice {
  text-align: right;
  color: #a81600;
  font-family: "verdana", sans-serif;
  font-weight: bold;
}

@media (max-width: 690px) {
  .containerdetailhotel .containerprice {
    padding-right: 20px;
  }
}

.containerdetailhotel .containerprice .price {
  font-size: 25px;
  margin: 0px;
}

.containerdetailhotel .containerprice .pricenight {
  margin-top: 0px;
  margin-bottom: 40px;
}

.containerdetailhotel .facilities {
  font-weight: bold;
  margin-bottom: 0px;
}

@media (max-width: 690px) {
  .containerdetailhotel .facilities {
    padding-left: 20px;
  }
}

.containerdetailhotel .facilitiesinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
}

@media (max-width: 690px) {
  .containerdetailhotel .facilitiesinfo {
    gap: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 20px;
  }
}

.containerhotels {
  background-color: #efefef;
  padding: 30px;
  margin-bottom: 40px;
}

@media (max-width: 850px) {
  .containerhotels {
    padding: 0px;
  }
}

.containerhotels a:visited {
  color: #363636;
}

.containerhotels a:active {
  color: #363636;
}

.containerhotels a {
  color: #363636;
}

.containerhotels h2 {
  margin: 0px;
}

@media (max-width: 850px) {
  .containerhotels h2 {
    padding-left: 20px;
  }
}

.containerhotels p {
  margin: 0px;
}

@media (max-width: 850px) {
  .containerhotels p {
    padding-left: 20px;
  }
}

.containerhotels .hotelimagecard {
  max-width: 300px;
  border-radius: 20px 0px 0px 20px;
}

@media (max-width: 850px) {
  .containerhotels .hotelimagecard {
    max-width: 100%;
    border-radius: 0px;
  }
}

.containerhotels .containercard {
  max-width: 800px;
  margin: 40px auto;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  border-radius: 20px;
}

@media (max-width: 850px) {
  .containerhotels .containercard {
    display: block;
    border-radius: 0px;
    padding-bottom: 20px;
  }
}

.containerhotels .containercard .cardcenter {
  padding-top: 20px;
  width: 270px;
}

@media (max-width: 850px) {
  .containerhotels .containercard .cardcenter {
    max-width: 100%;
  }
}

.containerhotels .containercard .cardcenter .nrbeds {
  padding-top: 30px;
}

.containerhotels .containercard .cardright {
  padding-top: 45px;
  color: #a81600;
  font-weight: bold;
  text-align: right;
}

@media (max-width: 850px) {
  .containerhotels .containercard .cardright {
    padding-right: 20px;
  }
}

.containerhotels .containercard .cardright .price {
  font-size: 25px;
}

.containerhotels .containercard .cardright .viewmore {
  color: white;
  background-color: #a81600;
  padding: 7px 20px;
  border-radius: 20px;
  text-transform: uppercase;
  margin-top: 50px;
}

@media (max-width: 850px) {
  .containerhotels .containercard .cardright .viewmore {
    max-width: 150px;
    text-align: center;
    margin: 30px auto;
  }
}

.containerhotels .containercard .cardright .viewmore:hover {
  background-color: #363636;
}

.containersearch {
  background-color: #363636;
  color: white;
  max-width: 520px;
  padding: 20px 20px;
  position: absolute;
  top: 50px;
  left: 50px;
}

@media (max-width: 650px) {
  .containersearch {
    max-width: 100%;
    top: -30px;
    left: 0px;
  }
}

.containersearch h1 {
  text-align: left;
  font-family: "SignPainter";
  text-transform: none;
  margin: 0px;
  font-size: 50px;
}

@media (max-width: 650px) {
  .containersearch h1 {
    display: none;
  }
}

.containersearch .slogantitle {
  margin-top: 0px;
}

@media (max-width: 650px) {
  .containersearch .slogantitle {
    font-size: 35px;
  }
}

.containersearch .slogantext {
  margin-top: 0px;
  font-weight: bold;
}

.containersearch .slogan {
  font-family: "SignPainter";
  font-size: 40px;
  font-weight: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.containersearch .searchbar {
  width: 500px;
  padding: 10px;
  border: none;
}

@media (max-width: 650px) {
  .containersearch .searchbar {
    width: 250px;
  }
}

.header {
  position: relative;
}

.containerpopular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  max-width: 1200px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 50px;
}

.containerpopular .popularhotel {
  background-color: #363636;
  color: white;
  max-width: 250px;
  height: 450px;
  font-size: 15px;
  border-radius: 40px 40px 0px 0px;
  position: relative;
  margin-top: 30px;
}

.containerpopular .popularhotel h2 {
  font-family: "verdana", sans-serif;
  margin: 0px;
  padding-left: 10px;
}

.containerpopular .popularhotel p {
  padding-left: 10px;
  padding-bottom: 40px;
}

.containerpopular .popularhotel .price {
  color: #a81600;
  background-color: white;
  max-width: 120px;
  text-align: center;
  padding: 5px;
  font-weight: bold;
  font-family: "verdana", sans-serif;
  position: absolute;
  top: 30px;
}

.containerpopular .popularhotel hr {
  width: 230px;
}

.populartitle {
  font-family: "SignPainter";
  font-size: 40px;
  padding-left: 90px;
  margin-bottom: 0px;
}

@media (max-width: 650px) {
  .populartitle {
    padding-top: 250px;
    font-size: 30px;
    padding-left: 0px;
    text-align: center;
  }
}

.indexhotelimg {
  max-width: 250px;
  border-radius: 40px 40px 0px 0px;
}

.headerimg,
img {
  width: 100%;
  margin: 0px;
}

@media (max-width: 650px) {
  .headerimg {
    display: none;
  }
}

.addhotel {
  max-width: 500px;
  height: 550px;
  margin: auto;
  margin-bottom: 50px;
  background-color: #efefef;
  font-family: "verdana", sans-serif;
  font-weight: bold;
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  padding: 30px 10px 10px 10px;
}

@media (max-width: 510px) {
  .addhotel {
    border-radius: 0px;
    height: 720px;
  }
}

.addhotel div {
  padding-bottom: 15px;
}

.addhotel div input {
  text-align: right;
}

.addhotel label {
  width: 200px;
  display: inline-block;
  text-align: left;
}

@media (max-width: 510px) {
  .addhotel label {
    width: 280px;
    padding-bottom: 5px;
  }
}

.addhotel input {
  border: none;
  padding: 5px;
  width: 270px;
}

.addhotel button {
  color: white;
  background-color: #a81600;
  border: none;
  border-radius: 50px;
  padding: 7px 30px;
  font-family: "verdana", sans-serif;
  font-weight: bold;
  margin-top: 30px;
}

.addhotel button:hover {
  background-color: #363636;
}

.addhotel hr {
  width: 480px;
  margin-bottom: 40px;
}

@media (max-width: 510px) {
  .addhotel hr {
    width: 250px;
    margin-bottom: 20px;
  }
}

.addhotel h2 {
  text-transform: uppercase;
  margin: 0px;
}

.containeradmin {
  max-width: 500px;
  margin: auto;
  padding-bottom: 50px;
}

@media (max-width: 510px) {
  .containeradmin {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.containeradmin h2 {
  margin-bottom: 0px;
}

.addedhotels h2 {
  font-size: 18px;
  margin-bottom: 0px;
}

.addedhotels p {
  margin: 0px;
}

.navbar1 {
  color: white;
  border-bottom: 8px solid #a81600;
}

.navbar2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #363636;
}

.navbar2 a {
  color: white;
  font-family: "verdana", sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 25px 10px 20px 30px;
  padding: 5px;
  text-decoration: none;
}

.navbar2 a:visited,
.navbar2 a:active {
  color: white;
}

.navbar3 {
  padding: 5px;
  margin: 5px;
}

.navbar3:hover {
  background-color: #a81600;
}

.svg1 {
  display: none;
}

.logomobil {
  display: none;
}

@media (max-width: 1065px) {
  .navbarmobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .logo {
    display: none;
  }
  .logomobil {
    display: block;
  }
  .svg1 {
    display: block;
    padding-top: 20px;
    padding-right: 20px;
  }
  .navbar {
    background-color: #363636;
    border-bottom: 8px solid #a81600;
  }
  .navbar1 {
    text-align: center;
    position: absolute;
    height: 200px;
    width: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: -100%;
    top: 20%;
  }
  .navbar_change {
    background-color: #363636;
    text-align: center;
    height: 400px;
    max-width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
  }
  .navbar2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.logo,
.logomobil {
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 60px;
  text-align: left;
  padding-left: 20px;
}
/*# sourceMappingURL=style.css.map */