.contactinfo {
  margin: auto;
  max-width: 500px;
  display: flex;
  gap: 90px;
  padding-top: 30px;
  @media (max-width: 520px) {
    padding: 0px 0px 20px 30px;
  }

  p {
    margin: 0px;
  }
  .email {
    padding-top: 20px;
  }
  .adress {
    padding-top: 30px;
  }
}
.map {
  max-width: 250px;
  @media (max-width: 520px) {
    display: none;
  }
}
