.containerpopular {
  display: flex;
  gap: 20px;
  max-width: 1200px;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  padding-bottom: 50px;

  .popularhotel {
    background-color: getColour(primary);
    color: getColour(white);
    max-width: 250px;
    height: 290px;
    font-size: 15px;
    border-radius: 40px 40px 0px 0px;
    position: relative;
    margin-top: 30px;

    h2 {
      font-family: $font-primary;
      margin: 0px;
      padding-left: 10px;
    }
    p {
      padding-left: 10px;
      padding-bottom: 40px;
    }
    .price {
      color: getColour(secondary);
      background-color: getColour(white);
      max-width: 120px;
      text-align: center;
      padding: 5px;
      font-weight: bold;
      font-family: $font-primary;
      position: absolute;
      top: 30px;
    }
    hr {
      width: 230px;
    }
  }
}
.populartitle {
  font-family: "SignPainter";
  font-size: 40px;
  padding-left: 90px;
  margin-bottom: 0px;
  @media (max-width: 650px) {
    padding-top: 250px;
    font-size: 30px;
    padding-left: 0px;
    text-align: center;
  }
}
.indexhotelimg {
  max-width: 250px;
  border-radius: 40px 40px 0px 0px;
}
.headerimg,
img {
  width: 100%;
  margin: 0px;
}
@media (max-width: 650px) {
  .headerimg {
    display: none;
  }
}
