$font-primary: "verdana", sans-serif;
$font-text: "Helvetica", sans-serif;

$tablet-width: 768px;

$colours: (
  primary: #363636,
  secondary: #a81600,
  accent: #efefef,
  white: white,
  black: black,
);

@function getColour($colour) {
  @return map-get($colours, $colour);
}
